# Data Science Tools and Ecosystem

## Author
Omar Alejandro Zapata Pe√±a

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that Data Scientists use
* List some of the commonly libraries used by Data Scientists
* Create a table listing some of the Data Science Tools
* Write an arithmetic expression in a code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Python library "pandas"
2. Python library "scikit-learn"
3. R library "dplyr"
4. R library "caret"

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|JupyterLab|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335